#!/usr/local/bin/python3
# -*- coding: utf-8 -*-
#
#  IkaLog
#  ======
#  Copyright (C) 2015 Takeshi HASEGAWA
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

from .inputs import cvcapture
from .outputs.json import *
from .IkaOutput_CSV import *
from .IkaOutput_Console import *
from .IkaOutput_DebugLog import *
from .IkaOutput_Screen import *
from .IkaOutput_Screenshot import *
from .IkaOutput_Twitter import *


class IkaConfig:

    def config(self):
        source = cvcapture()

        # 使いたい入力を選択
        source .startCamera(0)                       # キャプチャデバイスから
        # source.startRecordedFile('video.avi')      # ファイルからの読み込み

        source.need_resize = True                    # 720p でない場合はリサイズさせる

        # 一部のHDMIキャプチャはHDMIソースのピクセルがずれている。
        # 必要に応じてキャプチャのオフセットを(x, y) 指定
        # inputPlugin.offset = (2, 0)            # サンコー HDMVC4UC(左に2ドットずれ)

        # 使いたいプラグインを適宜設定
        OutputPlugins = [

            # IkaOutput_Screen: IkaLog 実行中にキャプチャ画像を表示します。
            #   wait_ms=1        キャプチャ画像表示後に停止するミリ秒数。 ただし0=2秒毎に1ms
            #   size=(1280, 720) ウインドウサイズ。
            IkaOutput_Screen(wait_ms=1, size=(1280,720)),

            # IkaOutput_Console(): 各種メッセージを表示します。
            IkaOutput_Console(),

            # IkaOutput_CSV: CSVログファイルを出力します。
            IkaOutput_CSV('ika.csv'),

            # IkaOutput_Fluentd: Fluentd にデータを投げます。
            # IkaOutput_Fluentd(
            # host='127.0.0.1',
            #     port=24224,
            #     username='＜8ヨ',
            #     tag='ikalog'
            # )

            # IkaOutput_JSON: JSONログファイルを出力します。
            IkaOutput_JSON('ika.json'),

            # IkaOutput_Screenshot: 戦績画面のスクリーンショットを保存します。
            IkaOutput_Screenshot('./screenshots/'),

            # IkaOutput_Hue(host='192.168.0.1',user='newdeveloper'),

            # IkaOutput_Slack: Slack 連携
            #   url="http://...."   Slack の Inconming Web Hook URL
            #   username="botname"  Slack 上に出す bot 名
            # IkaOutput_Slack(url='https://hooks.slack.com/services/(incoming hook endpoint)'),

            # IkaOutput_Twitter: Twitter 連携
            # IkaOutput_Twitter(
            #     'ConsumerToken',
            #     'ConsumerSecret',
            #     'AccessToken',
            #     'AccessTokenSecret',
            #     attachImage = False,
            #     Footer = 'マンメンミ',
            #     TweetKd = True,
            #     TweetUdemae=True
            # ),

            # 開発者向け。
            # イベントトリガをコンソールに出力。イベントトリガ時のスクリーンショット保存
            IkaOutput_DebugLog(dir='./screenshots/', screenshot=False)
        ]

        return [source, OutputPlugins]

if __name__ == "__main__":
    obj = IkaConfig()
    print(obj.config())
