#!/usr/local/bin/python3
# -*- coding: utf-8 -*-
#
#  IkaLog
#  ======
#  Copyright (C) 2015 Takeshi HASEGAWA
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

from IkaInput_CVCapture import *
from IkaOutput_CSV import *
from IkaOutput_CSV_AliveSquids import *
from IkaOutput_Console import *
from IkaOutput_Fluentd import *
from IkaOutput_JSON import *
from IkaOutput_Screen import *
from IkaOutput_Screenshot import *
from IkaOutput_Slack import *
from IkaOutput_Twitter import *

class IkaConfig:
	def config(self):
		inputPlugin = IkaInput_CVCapture()

		# 使いたい入力を選択
		inputPlugin.startRecordedFile('video.avi')           # ファイルからの読み込み
		# inputPlugin.startCamera(0)                         # 指定された番号のカメラ／キャプチャデバイスから

		inputPlugin.need_resize = True                       # 720p でない場合はリサイズさせる

		OutputPlugins = []

		# 使いたいプラグインを適宜設定
		OutputPlugins.append(IkaOutput_Screen())
		OutputPlugins.append(IkaOutput_Console())
		OutputPlugins.append(IkaOutput_CSV("ika.csv"))
		OutputPlugins.append(IkaOutput_JSON("ika.json"))
		OutputPlugins.append(IkaOutput_Screenshot("./screenshots/"))
		#OutputPlugins.append(IkaOutput_Slack(url = "https://hooks.slack.com/services/(incoming hook endpoint"))
		#OutputPlugins.append(IkaOutput_Twitter("ConsumerToken", "ConsumerSecret", "AccessToken", "AccessTokenSecret", attachImage = False))
		OutputPlugins.append(IkaOutput_Fluentd(host = '127.0.0.1', port = 24224, username = "＜8ヨ", tag = "ikalog"))
		#OutputPlugins.append(IkaOutput_CSV_AliveSquids())

		return [ inputPlugin, OutputPlugins ]

if __name__ == "__main__":
	obj = IkaConfig()
	print(obj.config())
